
@{
    ViewData["Title"] = "Danas22";
}

<link href="http://easyautocomplete.com/stylesheets/css/bootstrap.min.css" rel="stylesheet">
<link href="http://easyautocomplete.com/stylesheets/css/style.css" rel="stylesheet">
<link href="http://easyautocomplete.com/stylesheets/css/sheroes.css" rel="stylesheet">
<link href="http://easyautocomplete.com/resources/flags.css" rel="stylesheet">
<link rel="icon" type="image/png" href="http://easyautocomplete.com/images/favicon.png" />

<link href="http://easyautocomplete.com/dist/easy-autocomplete.min.css" rel="stylesheet">

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js">
    
</script>

<script src="http://easyautocomplete.com/dist/jquery.easy-autocomplete.min.js"></script>

<body>
<h2>Danas22</h2>
<button ajax-poziv="da" ajax-url="/studenti/indexPartial" ajax-rezultat="ajaxDiv">Ajax dugme1</button> <br/>
<button ajax-poziv="da" ajax-url="/studenti/dodajPartial" ajax-rezultat="ajaxDiv">Ajax dugme2</button>
    
<form action="/studenti/dodaj" ajax-poziv="da" ajax-rezultat="ajaxDiv">
    <input name="nesto"/>
    <input type="submit"/>
</form>
    
    
<div id="ajaxDiv" style="border: 1px solid black"></div>
<h2>Podnaslov</h2>

<script src="/JFIT.js"></script>
    
    

</body>

