@using WebApplication5.EntityModels

@{
    ViewData["Title"] = "Index";

    List<Student> podaci1= ViewData["kljuc1"] as List<Student>;
}

<h2>Index</h2>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Opstina</th>
        <th>Akcija</th>
    </tr>   
    </thead>
    <tbody>
    @foreach (Student x in podaci1)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.Ime</td>
            <td>@x.Prezime</td>
            <td>@x.Opstina?.Opis</td>
            <td>
                <a href="/studenti/obrisi?id=@x.Id">Obrisi</a>
                <a href="/studenti/edit?id=@x.Id">Edit</a>
              
            </td>
        </tr>
    }

    </tbody>
</table>



<a href="/studenti/dodaj">Dodaj novog studenta</a>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="nesto1">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


