@model Ispit_2017_09_11_DotnetCore.ViewModels.OdjeljenjeDetaljiVM
@{
    ViewData["Title"] = "Detalji";
}

<h2>Detalji</h2>



<label>Skolska godina</label>
<div>
    <input type="text" value="@Model.SkolskaGodina" readonly/>
</div>

<div id="ajaxDiv" style="border: 1px solid black">
  
</div>

<script>
    $.get("@Url.Action("Index", "Stavke", new { OdjeljenjeID = Model.OdjeljenjeID })" , function (data, status) {
        $("#ajaxDiv").html(data);
    });

</script>