
@model eUniverzitet.Web.Areas.ModulSuperAdmin.Models.OrganizacionaJedinicaUrediVM

<h2>Upravljanje organizacionim jedinicama</h2>

@using (Html.BeginForm("Snimi", "OrganizacionaJedinica"))
{
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        <label>Naziv</label>
        <div>
            @Html.TextBoxFor(model => model.Opis, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        <label>Tip</label>
        <div>
            @if (Model.NaucnaOblastStavke != null)
            {
                @Html.DropDownListFor(model => model.Tip, Model.TipStavke, new {@class = "form-control"})
            }
            else
            {
                @Html.TextBoxFor(model => model.Tip, new { @class = "form-control disabled" , @readonly="readonly" })
            }
        </div>
    </div>

  

    <input type="submit" value="Snimi" class="btn btn-danger" />
}

