@model Ispit_2017_09_11_DotnetCore.ViewModels.StavkeUrediVM
@{
    ViewData["Title"] = "Dodaj";
}

<h2>Dodaj</h2>

<form ajax-poziv="da" ajax-rezultat="ajaxDiv" asp-action="Snimi">

    <input type="hidden" asp-for="OdjeljenjeID" />
    <input type="hidden" asp-for="OdjeljenjeStavkaID" />

    <div class="form-group">
        <label asp-for="UcenikID">Ucenik</label>
        <select asp-for="UcenikID" asp-items="@Model.UceniciSelectListItems" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="BrojUDnevniku">Razred</label>
        <input asp-for="BrojUDnevniku" class="form-control" />
    </div>

    <input type="submit" value="Snimi" />/>
</form>
