@model Ispit_2017_09_11_DotnetCore.ViewModels.OdjeljenjeDetaljiVM

@{
}

<h2>title</h2>

<div>
    <label>Skolska Godina</label>
    <input type="text" readonly value="@Model.SkolskaGodina">
</div>

<div id="ajaxDiv"></div>


<script>
    $(document).ready(function () {
        $.get(@Url.Action("Index", "Stavke", new {odjeljenjeid=Model.OdjeljenjeID}), function (data, status) {
            $("#ajaxDiv").html(data);
        });
    });
</script>