@model Ispit_2017_09_11_DotnetCore.ViewModels.OdjeljenjeDetaljiVM

@{
    ViewBag.Title = "title";
   
}

<h2>Detalji odjeljenja</h2>
<table>
    <tr>
        <td>Školska godina</td>
        <td><input type="text" value="@Model.SkolskaGodina" readonly="readonly" /></td>
    </tr>
    <tr>
        <td>Razred</td>
        <td><input type="text" value="@Model.Razred" readonly="readonly" /></td>
    </tr>
</table>

<a ajax-poziv='da' href="/AjaxStavke/Index?OdjeljenjeID=@Model.OdjeljenjeID" ajax-rezultat="ajaxDiv">Prikazi stavke (ajax)</a>

<div id="ajaxDiv" style="border: 1px black solid">
    
</div>

<script>
    $(document).ready(function () {
        $.get("/AjaxStavke/Index?OdjeljenjeID=@Model.OdjeljenjeID", function (data, status) {
            $("#ajaxDiv").html(data);
            ajaxEventi();
        });
    });
</script>
