




<div style="text-align: center;">
    <input type="file" accept="image/*;capture=camera">

    @*<device type="media" onchange="update(this.data)"></device>

    <video id="screenshot-video" class="videostream" autoplay="autoplay"></video>
    <img id="screenshot-img">

    <canvas id="canvas" style="display: none;"></canvas>

    <p>
        <button id="screenshot-button">Take screenshot</button>
    </p>*@
</div>



<script>
    var constraints = { video: { width: 800, height: 800 } };

    //navigator.mediaDevices.getUserMedia(constraints)
    //    .then(function(mediaStream) {
    //        var video = document.querySelector('#screenshot-video');
    //        video.srcObject = mediaStream;
    //        video.onloadedmetadata = function(e) {
    //            video.play();
    //        };
    //    })
    //    .catch(function(err) { console.log(err.name + ": " + err.message); }); // always check for errors at the end.

</script>