
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<a asp-action="Camera1">Camera 1 </a><br />
<a asp-action="Camera2">Camera 2</a><br />
<a asp-action="GPS1">Geolocation 1</a><br />
<a asp-action="GPS2">Geolocation 2</a><br />