<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="MojConnectionString"
        connectionString="Data Source=app.fit.ba;Initial Catalog=video02;Integrated Security=false;User Id=video02;Password=9wXbv#19"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>