@model Ispit_2017_09_11_DotnetCore.ViewModels.StavkaDodajVM
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form asp-action="Snimi" ajax-poziv="da" ajax-rezultat="ajaxDiv">
    @*<select name="UcenikId">
        @foreach (var item in Model.stavkeUcenici)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>*@
    
    <select asp-for="UcenikId" asp-items="@Model.stavkeUcenici"class="row"></select><br />
    
    @*@Html.DropDownListFor(x=>x.UcenikId, Model.stavkeUcenici)*@
    <input type="hidden" asp-for="StavkaId" class="row"/>
    <input type="hidden" asp-for="OdjeljenjeId"class="row"/>
    <input type="text" asp-for="brUDnevniku"class="row"/>
    <input type="submit" value="Snimi"/>
</form>