<h2>Superadministrator</h2>



<div class="container" style="width: 300px">
    <div>
        @Html.ActionLink("Akademska godina", "Index", "AkademskaGodina", new { }, new { @class = "btn btn-default btn-lg btn-block" })
    </div>

    <div>
        @Html.ActionLink("Fakulteti", "Index", "Fakultet", new { }, new { @class = "btn btn-default btn-lg btn-block" })
    </div>

    <div>
        @Html.ActionLink("Organizacione jedinice", "Index", "OrganizacionaJedinica", new { }, new { @class = "btn btn-default btn-lg btn-block" })
    </div>

    <div>
        @Html.ActionLink("Zaposlenici", "Index", "Zaposlenik", new { }, new { @class = "btn btn-default btn-lg btn-block" })
    </div>
</div>
